{% extends 'base2.html' %}
{% load crispy_forms_tags %}
{% block content %}
<section>
    <div style="padding-left:200px;padding-right:200px " class="container">
        <div style="padding:50px;border-radius: 20px" class="card shadow">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Submit</button>

            </form>

        </div>

    </div>
    </section>


{% endblock content %}










